.Movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 260px;
  justify-self: center;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-position: 0% 30%;
  background-size: cover;
  color: white;
  transition: all 0.3s ease-in-out;
}

.Movie:hover {
  width: 77%;
  height: 265px;
  box-shadow:0px 0px 40px rgba(184, 219, 253, 0.9);
  transition: all 0.3s ease-in-out;
}