.App {
  text-align: center;
  padding: 30px;
}

.movieGrid {
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 10px;
}

@media screen and (max-width: 400px) {
  .movieGrid {
    grid-template: repeat(5, 300px) / 1fr;
  }

}